# Зависимости
node_modules/
dist/
dist-ssr/

# Локальные файлы окружения
.env
.env.local
.env.*.local

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Временные файлы редактора
.DS_Store
*.pem
*.swp
*.swo
*~
.vscode/
.idea/

# Кэш
.cache/